body {
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 10px;
}

td {
    border: 1px solid black;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.tbtn {
    border-color: white;
    border-spacing: 5px;
    border-collapse: separate;
}
.btn {
    border-color: white;
    border: 0px;
    border-radius: 5px;
    background-color: wheat;
}

.bb {
    border-bottom: 3px solid black;
}

.br {
    border-right: 3px solid black;
}

tr {
    height: 12vw;
}

button {
    font-size: x-large;
    border: 0 !important;
    border-radius: 5px;
    background-color: lightblue;
    padding: 5px;
    -webkit-appearance: none;
}

input {
    font-size: x-large;
}

span {
    font-size: x-large;
    margin-left: 10px;
}